* {
	box-sizing: border-box;
	font-family: Arial;
}
#p01 {
	color:  #050b33;
	font-family: 'Permanent Marker', cursive;	
}
body {
	padding: 10px;
	background: #f1f1f1;
}
  
/* Header/Blog Title */
.header {
    padding: 30px;
	text-align: center;
	padding: 10px;
	background: #ffffff;
    position: -webkit-sticky;
	position:sticky;
	animation: flash linear 2s;
	-webkit-animation-name: header;
	-webkit-animation-duration: 1.5s;
	animation-name: header;
	animation-duration: 1.5s;
}

@keyframes header {
    0% { opacity: 1; }
    30% { opacity: 0.1; }
    100% { opacity: 1; }
    0% { opacity: 1; }
    30% { opacity: 0.1; }
    100% { opacity: 1; }
} 
	
.header h1 {
	font-size: 50px;
	color: #050b33;
}
	
	/* Style the top navigation bar */
.topnav {
    overflow: hidden;
	background-color: #050b33;
	position:sticky;
	top: 200px;
	animation: href 2s ease-in
}

@keyframes topnav {
0% { transform: translateX(+300px); }
70% { transform: translateX(-10px); }
80% { transform: translateX(5px); }
100% { transform: translateX(0px); }
}
	
	/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
	
	/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav1 {
    overflow: hidden;
	background-color: #050b33;
	top: 100px;
	animation: href 2s ease-in
}

@keyframes topnav1 {
0% { transform: translateX(+300px); }
70% { transform: translateX(-10px); }
80% { transform: translateX(5px); }
100% { transform: translateX(0px); }
}
	
	/* Style the topnav links */
.topnav1 a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
	
	/* Change color on hover */
.topnav1 a:hover {
    background-color: #ddd;
    color: black;
}

	/* Slide show */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

  
  /* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
  
  .active, .dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
	
	/* Create two unequal columns that floats next to each other */
	/* Left column */


.leftcolumn {   
    index-z: 2;
    float: left;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
	
	/* Right column */
.rightcolumn {
    index-z: 2;
    float: right;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
	

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
}

.rightcolumn .card1 {
  index-z: 0;
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/sunday_waits_ep.jpg)
}

.leftcolumn .card1 {
  index-z: 0;
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/aristocrats_trio.jpg)
}
.rightcolumn .card2 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/chartbusters_later.jpg)
}
.leftcolumn .card2 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/cassette.jpg)
}
.rightcolumn .card3 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/herratik_album.jpg)
}
.leftcolumn .card3 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/soundcloud_pic.jpg)
}
.rightcolumn .card4 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/katie_whyte_ep.jpg)
}
.leftcolumn .card4 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/fk_album2.jpg)
}
.rightcolumn .card5 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/fk_ep2.jpg)
}
.leftcolumn .card5 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/mcartney_v1.jpg)
}
.rightcolumn .card6 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/foo_fighters.jpg)
}
.leftcolumn .card6 {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 60%; /* Full width */
  padding: 20px; /* Some padding */
  Background-image: url(images/winter_sunderground__rjbIu.jpg)
}
	/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.icons {
	float: center;
}
	
	/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
	
	/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
 	width: 100%;
	padding: 0;
  }
}
	
	/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a, {
	float: none;
	width: 100%;
  }
}

/*blog posts*/
.container2 {
	background: #ffffff;
	border: 2px;
	border-style: solid;
	border-color: #050b33;
	margin: 10px;
	padding: 40px;
}
a:link {
	color: #999896;
	font-size: 20px;
	text-align: center;
}

.icons {
    padding: 30px;
	text-align: center;
	padding: 10px;
    position: -webkit-sticky;
	position:sticky;
	animation: flash linear 2s;
	-webkit-animation-name: header;
	-webkit-animation-duration: 1.5s;
	animation-name: header;
	animation-duration: 1.5s;
}

@keyframes icons {
    0% { opacity: 1; }
    30% { opacity: 0.1; }
    100% { opacity: 1; }
    0% { opacity: 1; }
    30% { opacity: 0.1; }
    100% { opacity: 1; }
} 
/*music player*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

.Pg {
  background-image: linear-gradient(
    0deg,
    rgba(2, 4.3, 20, 1) 23.8%,
    rgba(2, 4.3, 20, 1) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: rgb(235, 237, 253);
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(181, 190, 248, 0.6);
  display: flex;
  padding: 20%;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 50%;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  width: 50%;
  position: left;
  bottom: 0;
  left: 0;
  animation: rotate 150s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.6s ease-in, opacity 0.6s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #a5aef6;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/*music player end*/
